/* Base
------------------------------------------------------------*/
html
{
    font-size: 62.5%;
}

body
{
    font-family: "Meiryo";
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.6;

    letter-spacing: .1em;

    color: #4c4c4c;
    background-color:#FFFFFF;
}

/* Align
------------------------------------------------------------*/
.text-center
{
    text-align: center;
}

/* Layout
------------------------------------------------------------*/

h1
{
    color: #DC143C;
    font-size: 22px;
    margin: 0
}

.title
{
    background-color: #dc143c
}

h3
{
    color: white
}

.sub
{
     background-color: #f5f5f5
}


.picture
 {
  background-image: url("./introduction.jpg");
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.main .container
{
    display: -webkit-flex;
    display:         flex;

    justify-content: space-between;
  
}

.main .container h3
{
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: bold;
    backgroud-color: #DC143C;
    
    margin-bottom: 10px;
}

.box{
      flex:1;
      background-color: #f5f5f5 
}

.contact {
    background-color: #EEEEEE;
}


.container {
  display: flex;
  flex-direction: row;
}

.box {
  border: solid 1px skyblue;
  margin: 10px;
  flex: 1;
}

@media (max-width: 768px) {
  .picture{
    height:250px;
  }
  .container{
    flex-direction: column;
  }
}

  
.footer
{ 
    background-color: #EEEEEE;
}

.btn{
    font-size:18px;
    font-weight:bold;
    text-decoration:none;
    text-align:center;
    
}

.btn a{
    display:inline-block;
    padding: 10px 10px;
    border-radius:5px;
    background:#DC143C;
    color:#EEEEEE;
} 